body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.gallery {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.gallery img {
	flex: 1 1 auto;
	margin: 5px;
	max-width: 300px;
	max-height: 140px;
	object-fit: cover;
	transition: all 0.3s ease-in;
}

.gallery img:hover {
	opacity: 0.5;
	filter: blur(2px);
}
